*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    line-height: 1.6;
    background-color: #fff1ce;
    color: #070707;
    padding: 10px;
    background-image: url(../img/ini.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 10%;
    background-position-y: 10%;
}

h1{
    font-size: 32px;
    text-align:center;
    color:rgb(0, 0, 0);
    padding: 10px 10px;
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif
    font-weight:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h2{
    font-size: 32px;
    text-align:center;
    color:rgb(240, 88, 1);
    padding: 11px 11px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif
    font-weight:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    justify-content: center;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 11000px;
    margin:0 auto;
    padding:0 2%;
}
.sobre{
    /*display: flex;*/
    justify-content: center;
    width: 100%;
    height: 100%;
}

#img_inicial{
    width: 100%;
    height: 100%;
}

.menu{
    height: 100%;
    width:1500%;
    text-align: right;
}
.menu a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    margin-right: 18px;
}
header{
    padding:30px 0;
}
.logo{
    justify-content: center;
    width: 15000%;
    height: 1000%;
}
.saiba-mais-button {
    background-color: #c72a0f;
    color: #fff;
    border: none;
    border-radius: 20px; 
    object-position: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.saiba-mais-button:hover {
    background-color: #0056b3;
}

