@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

h1{
    font-size: 32px;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color:#79c3aa;
    padding: 15px 15px;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
}

.container {
    
}